streamlit==1.36.0
python-docx
crewai==0.30.11
crewai-tools==0.2.6
langchain-google-genai==1.0.4
openai==1.31.0
langchain-core==0.1.52
pysqlite3-binary
langchain-community==0.0.38
xlsxwriter==3.2.0
